.contentLogin{
    text-align: center;
    color:white;
    background-color: #010712;  
}
.btnLogin{
    width: 30%;
    height: 40px;   
    color: #010712;
    background-color: #ffa100;
    margin-top: 10px;
}
.loginInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #2d2f35;
    color: #ffa100;
    border: none;
}
.mPos{
    color: #ffa100;
}
